.auth__main{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: lighten($color: $primary, $amount: 12)


}
.auth__main-register{
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
    background-color: #C4C4C4;
    
    

}

.auth__box-container{
    background-color: white;
    
    
    border-radius: 2px;
    padding:20px ;
    width: 330px;
    height: 93vh;
}

.auth__title{
    color:darken($color: #ccc, $amount: 20);
    margin-bottom: 20px;

}
.auth__title-logo{
    color:black;
    align-items: center;
display: flex;
justify-content: center;
   margin-bottom: 20px;
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
    
}


.auth__input{
    color:black;
    border: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: Raleway;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    transition: border-bottom 0.3s ease;
    &:focus{
        border-bottom: 1px solid $primary;
        outline:none;
    }

}

.auth__social-networks{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

}
.auth__social-main{
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.auth__social{
    
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
    margin: 0 0.45rem;
    color: white;
    font-size: 1.1rem;
    transition: 0.3s;
width:46px;
height:46px;




}

.auth__img{
   align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    
   
}
.auth__checkbox{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.auth__logo{
    margin: auto;
    border-radius: 50%;
   background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
width:100px;
height:100px
}
.auth__title-logo-register{
    color:black;
    align-items: center;
display: flex;
justify-content: center;
   margin-bottom: 20px;
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
}
.auth__label{
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
}

.auth__forget{
    margin-top: 10px;
    font-family: 'Roboto';
    font-size:16px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.auth__img-social{
    width:50%;
}
.auth__space{
    margin-top: 20px;
    margin-bottom: 10px;
}
.auth_link{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.auth__margin{
    margin-top: -20px;
}

.auth__img-logo{
    margin-top: -10px;
}
.auth__logo-circle{
    margin: auto;
    border-radius: 50%;
   background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
width:70px;
height:70px
}


