html, body{
    margin:0px;
    padding:0px;
    
    
  /*   overflow-x:hidden; 
     overflow-y: auto;  */
}
.home__nav-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
   position: fixed;
    box-sizing: border-box;
   /*  border-bottom: 1px solid darken($color: $light-grey, $amount: 20); */
    background-color: white;

}
.home__nav-container-second{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 95vw;
    
}
.home__nav-container-logo{
    align-items: center;
    display: flex;
    font-family: Raleway;
    font-size: 20px;
    color: #03305f;
    font-weight: bold;
    width: 15%;
  
}
.home__nav-logcontent{
    font-family: Rubik;
    font-size: 20px;
    color: #03305f;
    font-weight: bold;
}

.home__nav-container-routes{
    align-items: center;
    display: flex;
    justify-content: start;
    width: 50%;
    
    
    
    
    
}

.home__nav-container-link{
    margin-left: -50px;
    list-style:none;
    display: flex;
    font-family: 'Acumin', sans-serif;
 font-size: 16px;
 font-weight: 500;
    
}


.home__nav-item{
    margin-left: 20px;
    cursor: pointer;
    &:hover{
        color: $up;
    }
} 

.home__nav-container-icons{
    width: 15%;
    
  align-items: center;
    display: flex;

 
    flex-direction: row-reverse;
    padding-right: 10px;
   
}

.home__nav-container-buttons{
    width: 20%;

}

.home__buttons{
    align-items: center;
    display: flex;
   
   
    list-style:none;
   
    
  
}
.home__link-header-in{
        color: $apple;
      text-decoration: none;
  
      &:hover{
          text-decoration: none;
      }
  }
  .home__link-header-up{
    color: $white;
  text-decoration: none;

  &:hover{
      text-decoration: none;
  }
}

.home__buttons-log{

 width: 80.938px;
 height: 30px;
 border: 1px solid transparent;
 align-items: center;
 display: flex;
 justify-content: center;
 border-radius: 8px;
 padding: 3px 3px;

 margin-right: 20px;
 
 font-family: 'Acumin', sans-serif;
 font-size: 15px;
 font-weight: 400;
 cursor: pointer;

 
 
}
.home__in{
    border: 1px solid darken($color: $light-grey, $amount: 20);
    &:hover{
        background-color: lighten($color: $light-grey, $amount: 10);
    }
}
.home__up{
background-color: $up;
color: $white;
&:hover{
    background-color: darken($color: $up, $amount: 20);
}


}

.home__portada{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
/*     background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color:$wordpress;
    
   
    /*  border: 1px solid black;  */
}

.home__portada::before{
    background-color: rgba(0, 0, 0, 1.6);
}

.home__portada-margin{
    margin-bottom: -70px;
    width: 98%;
   
  display: flex;
  /* padding-left: 60px; */
/*   margin-left: 300px; */
    /* border: 1px solid black; */
}
.home__portada-text{
 

/*     border: 1px solid black; */
    width: 52%;
    height: 520px;
    
 
}
.home__portada-img{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 48%;
    
  
    /* padding-bottom: 30px; */
 /*    border: 1px solid black; */
    box-sizing: border-box;
}
.home__svg{
    width: 1000px;
    height: 450px;
    padding-bottom: 55px;
    
 /*    border: 1px solid black; */
    align-items: center;
    display: flex;
}
.home__portada-title{
  /*   padding: 50px 150px 10px ; */
  padding-top: 70px;
  padding-left: 40px;
   color:$white;
    font-family:MuseoSans;
    font-size: 56px;
    font-weight: bolder;
   /*  border: 1px solid white; */
}
.home__portada-content{
   /*  padding: 20px 150px; */
   padding-top: 30px;
   padding-left: 40px;
   padding-right: 20px;
    font-family:Roboto;
    font-size: 19px;
    color: $white;
    text-align: justify;
  /*   border: 1px solid black; */
    line-height : 25px;
}

.home__buttons-port{
    padding: 30px 40px;
    display: flex;
}

.home_primary{
    background-color: $white;
    &:hover{
        background-color: darken($color: $light-grey, $amount: 60);
        color: $white;
    }
}
.home_secondary{
    background-color: #094293;
  /*   border: 1px solid lighten($color: $dark-grey, $amount: 10); */
}

@media screen and (max-width: 600px) {
    .home__nav-imgLogo{
        width: 25px;
        height: 20px;
    }
    .home__nav-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100vw;
       position: fixed;
        box-sizing: border-box;
       /*  border-bottom: 1px solid darken($color: $light-grey, $amount: 20); */
        background-color: white;
    
    }
    .home__nav-container-second{
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 95vw;
        
    }
    .home__nav-container-logo{
        align-items: center;
        display: flex;
        font-family: Raleway;
        font-size: 20px;
        color: #03305f;
        font-weight: bold;
        width: 25%;
        /* border: 1px solid black; */
      
    }
    .home__nav-logcontent{
        font-family: Poppins;
        font-size: 12px;
        color: #03305f;
        /* font-weight: bold; */
    }
    
    .home__nav-container-routes{
      display: none;
        
        
        
        
        
    }
    
    .home__nav-container-link{
       /*  margin-left: -50px;
        list-style:none;
        display: flex;
        font-family: 'Acumin', sans-serif;
     font-size: 16px;
     font-weight: 500; */
     display: none;
        
    }
    
    
    .home__nav-item{
     display: none;
    } 
    
    .home__nav-container-icons{
        width: 12%;
        margin-left: 40px;
      align-items: center;
        display: flex;
        
     
        flex-direction: row-reverse;
        /* padding-right: 10px; */
     /*   border: 1px solid black; */
    }
    
    .home__nav-container-buttons{
        width: 60%;
        position: relative;
        left: 10px;
        
    
    }
    
    .home__buttons{
        align-items: center;
        display: flex;
       justify-content: center;
       
        list-style:none;
       
        
      
    }
    .home__link-header-in{
            color: $apple;
          text-decoration: none;
      
          &:hover{
              text-decoration: none;
          }
      }
      .home__link-header-up{
        color: $white;
      text-decoration: none;
    
      &:hover{
          text-decoration: none;
      }
    }
    
    .home__buttons-log{
    
     width: 50px;
     height: 20px;
     border: 1px solid transparent;
     align-items: center;
     display: flex;
     justify-content: center;
     border-radius: 8px;
     padding: 3px 3px;
    
     margin-right: 5px;
     
     font-family: 'Acumin', sans-serif;
     font-size: 12px;
     font-weight: 400;
     cursor: pointer;
    
     
     
    }
    .home__in{
        border: 1px solid darken($color: $light-grey, $amount: 20);
        &:hover{
            background-color: lighten($color: $light-grey, $amount: 10);
        }
    }
    .home__up{
    background-color: $up;
    color: $white;
    &:hover{
        background-color: darken($color: $up, $amount: 20);
    }
    
    
    }
    
  }
  @media screen and (max-width: 600px) {
    .home__portada{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 150vh;
        width: 100vw;
    /*     background-image: url('../img/bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        background-color:$wordpress;
        
       
        /*  border: 1px solid black;  */
    }
    
    .home__portada::before{
        background-color: rgba(0, 0, 0, 1.6);
    }
    
    .home__portada-margin{
        
    /*     width: 98%; */
       
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
      /* padding-left: 60px; */
    /*   margin-left: 300px; */
        /* border: 1px solid black; */
    }
    .home__portada-text{
     
    
    /*     border: 1px solid black; */
        /* width: 52%;
        height: 520px; */
        
     
    }
    .home__portada-img{
        align-items: center;
        display: flex;
        justify-content: center;
      /*   width: 48%; */
        
      
        /* padding-bottom: 30px; */
     /*    border: 1px solid black; */
        box-sizing: border-box;
        margin-top: -40px;
    }
    .home__svg{
        width: 350px;
        height: 350px;
      /*   padding-bottom: 55px; */
        
     /*    border: 1px solid black; */
    /*     align-items: center;
        display: flex; */
    }
    .home__portada-title{
      /*   padding: 50px 150px 10px ; */
     /*  padding-top: 70px;
      padding-left: 40px; */
      margin-top: 100px;
      margin-left: -90px;
      width: 150%;
      height: 30%;
    /*   border: 1px solid white; */
       color:$white;
        font-family:MuseoSans;
        font-size: 30px;
        font-weight: bolder;
       /*  border: 1px solid white; */
    }
    .home__portada-content{
       /*  padding: 20px 150px; */
   /*     padding-top: 30px;
       padding-left: 40px; */
  /*      padding-right: 10px; */
  margin-top: -20px;
      margin-left: -90px;
      width: 150%;
      height: 30%;
        font-family:Roboto;
        font-size: 15px;
        color: $white;
        text-align: justify;
      /*   border: 1px solid black; */
        line-height : 25px;
    }
    
    .home__buttons-port{
        margin-left: -90px;
        padding: 30px 40px;
        display: flex;
    }
    
    .home_primary{
        background-color: $white;
        &:hover{
            background-color: darken($color: $light-grey, $amount: 60);
            color: $white;
        }
    }
    .home_secondary{
        background-color: #094293;
      /*   border: 1px solid lighten($color: $dark-grey, $amount: 10); */
    }
    
  }


.home__section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $gris;
/*     border: 1px solid black; */

.home__section-h1{
    font-family: "Poppins";
    font-weight: 700px;
    font-size: 3rem;
    font-weight: 700;
    /* background: linear-gradient(
-45deg
, #3db3c5, #6799E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent; */
    color: black;
}
.home__section-paragraph{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
  
    letter-spacing: 0.008em;
}

}
.home__section-title{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}
.home__section-secondary{
    width: 80vw;
    height: 100vh;
   /*  border: 1px solid black; */
}
.home__section-circle{
    align-items: center;
    border-radius: 50%;
    
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    transition: 0.3s;
width:110px;
height:110px;
background: linear-gradient(
    -45deg
    , #3b87bd, #2d71a2);
/* background-color: #094293; */
box-shadow: 0px 15px 30px 0px rgb(198, 216, 198);
margin-bottom: 30px;
}

.home__section-division{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.home__section-division1{
    width: 33.3%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px 20px;
   /*  border: 1px solid black; */
}

.home__section-h2{
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 27px;
    color: #6799e0;
margin-bottom: 20px;
}
.home__section1{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $gris;
/*     border: 1px solid black; */
    flex-direction: column;
}
.home__section1-title{
    font-family: 'MetropolisRegular';
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}


.home__section1-division{
        align-items: center;
        display: flex;
        justify-content: center;
/*         border: 1px solid black; */
        width: 90%;
}

.home__div-sec1{
    width: 50%;
    height: 350px;
 /*    border: 1px solid black; */
    display: flex;
}

@media screen and (max-width: 600px) {
    .home__section{
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200vh;
        width: 100vw;
        background-color: $gris;
    /*     border: 1px solid black; */
    
    .home__section-h1{
        font-family: "Poppins";
        font-weight: 700px;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        /* background: linear-gradient(
    -45deg
    , #3db3c5, #6799E0);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent; */
        color: black;
    }
    .home__section-paragraph{
        /* font-family: 'Poppins';
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
      
        letter-spacing: 0.008em; */
        display: none;
    }
    
    }
    .home__section-title{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin-top: 20px;
        margin-bottom: 20px; */
    }
    .home__section-secondary{
        width: 80vw;
        height: 100vh;
       /*  border: 1px solid black; */
    }
    .home__section-circle{
        align-items: center;
        border-radius: 50%;
        
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        transition: 0.3s;
    width:80px;
    height:80px;
    background: linear-gradient(
        -45deg
        , #3b87bd, #2d71a2);
    /* background-color: #094293; */
    box-shadow: 0px 15px 30px 0px rgb(198, 216, 198);
    /* margin-bottom: 30px; */
    }
    
    .home__section-division{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .home__section-division1{
    /*     width: 33.3%; */
      /*   align-items: center;
        display: flex;
        flex-direction: column;
        justify-content:center; */
    /*     padding: 20px 20px; */
       /*  border: 1px solid black; */
    }
    
    .home__section-h2{
        box-sizing: border-box;
        font-family: "Poppins";
        font-size: 24px;
        color: #6799e0;
        text-align: center;
    /* margin-bottom: 16px; */
    }
    
}


.home__guion{
    font-family: Recoleta;
    font-size: 120px;
    font-weight: lighter;
    color: $light-grey;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.home__opinion{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin-top: 90px;
    letter-spacing: 0.008em;
}
.home__opinion-img{
    width: 125px;
    height: 125px;
    border-radius: 50px;
}
.home__img-box{
    margin-top: 90px;
    margin-left: 40px;
}
.home__section3-main{
    background-color: $gris;
}
.home__section3{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
 /*    border: 1px solid black; */
    background-color: $wordpress;
    margin-top: -10px;
}
.home__section3-performance{
    margin-bottom: -60px;
}
.home__section3-subtitle{
    font-family:"MetropolisRegular";
    font-size:48px;
    font-weight: 200px;
    color:#6799E0;
}

@media screen and (max-width: 600px) {
    .home__section3-main{
        background-color: $gris;
    }
    .home__section3{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 200vh;
        width: 100vw;
     /*    border: 1px solid black; */
        background-color: $wordpress;
        margin-top: -10px;
    }
    .home__section3-performance{
        margin-bottom: 810px;
    }
    .home__section3-subtitle{
        font-family:"MetropolisRegular";
        font-size:40px;
        font-weight: 200px;
        color:#6799E0;
    }
    
}


.home__section4{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
 /*    border: 1px solid black; */
 background-color: $gris;

}
.home__section4-main{
    width: 100vw;
    height: 100vh;
   
}
.home__section4-cabecera{
   
    margin-top: -60px;
    padding: 20px;
}
.home__section4-title{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 38px;
    line-height: 25px;
   
}
.home__section4-content{
    margin-bottom: 10px;
}
.home__section4-bar{

      background-color: #5361ff;
    width: 64px;
    /* top: 3rem; */
   /*  position: absolute; */
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
  
}
.home__section4-test{
    width: 70vw;
    height: 100vh;
/*     border: 1px solid black; */
    margin: auto;
    
}
.home__section4-testprueba{
    margin-top: 20px;
    display: flex;
    
}
.home__section4-box{
  /*   width: 33.3%;
    border: 1px solid black; */
    height: 250px;
    margin-right: 20px;
    /* border-radius: 20px; */

    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
      width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    
}
.home__section5{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 160vh;
    width: 100vw;
 /*    border: 1px solid black; */
    background-color: $wordpress;
}
.home__section5-main{
    width: 100vw;
    height: 18%;
/*     border: 1px solid white; */
}
.home__section5-module{
    width: 100vw;
    height: 42%;
/*     border: 1px solid white; */
    display: flex;

}
.home__section5-moduleDiv{
    width: 33.3%;
/*     border: 1px solid white; */
}
.home__section6{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150vh;
    width: 100vw;
 /*    border: 1px solid black; */
 background-color: $gris;
/*  padding: 40px 80px; */

}
.home__section6-info{
    width: 594.5px;
    height: 815px;
   /*  border: 1px solid black; */
    box-sizing: border-box;
 
}
.home__section6-contacto{
    width: 594.5px;
    height: 815px;
    padding: 0px 0px 0px 16px;
/*     border: 1px solid black; */
}
.home__section6-second{
    width: 434.5px;
    height: 735px;
    margin: 40px 0px;
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.home__section6-center{
    text-align: center;
}
.home__section6-contactame{
    font-family: Poppins;
    font-size: 30px;
    margin: 12px 0px;
    line-height: 2.25rem;
    color: #374151;
}
.home__section6-content{
    color: #9ca3af;
    font-family: Poppins;
}
.home__section6-formulario{
padding: 20px;
font-family: Poppins;
font-size: 14px;
color: #4b5563;
padding-top: -35px;

}
.home__section6-form{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
}
.home__section6-input{
/* width: 365.5px; */
font-family: Poppins;
font-size: 14px;
height: 20px;
padding: 8px 12px;
border: 1px solid rgb(209, 213, 219);
border-radius: 0.375rem;

/* border-color: rgb(209, 213, 219); */
/* background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
&:focus{
   /*  --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)); */
    outline: none;
    border: 2px solid $up;
    /* border-color: rgba(209, 213, 219, var(--tw-border-opacity));  */
}
&::placeholder{
    color: #9ca3af
}
}
.home__section6-label{
    font-family: Poppins;
font-size: 14px;
padding-bottom: 5px;
}
.home__section6-area{
    border-radius: 0.375rem;
    border: 1px solid rgb(209, 213, 219);
    height: 130px;
    resize: none;
    font-family: Poppins;
        font-size: 14px;
    &:focus{
        /*  --tw-border-opacity: 1;
         border-color: rgba(209, 213, 219, var(--tw-border-opacity)); */
         outline: none;
         border: 2px solid $up;
         /* border-color: rgba(209, 213, 219, var(--tw-border-opacity));  */
     }
     &::placeholder{
        color: #9ca3af;
        font-family: Poppins;
        font-size: 14px;
    }
}
.home__section6-button{
    padding: 16px 12px;
    font-family: Poppins;
    font-size: 16px;
    background-color: #03897A;
    color: #fff;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: darken($color: #03897A, $amount: 15)
    }

}
.home__section6-infoti{
    padding: 40px 40px;
    
}
.home__section6-tit{
    font-family: Poppins;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 40px;
}
.home__section6-subtit{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 40px;
}
.home__section6-contenido{
    font-family: Poppins;
    font-size: 24px;
    text-align: left;
    line-height: 2rem;
    padding-bottom: 40px;
}
.home__section6-campo{
    font-family: Poppins;
    font-size: 14px;
    text-align: left;
    line-height: 2rem;
}
.home__section6-space{
    padding-bottom: 20px;
}
.home__section6-answer{
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    line-height: 2rem;
}
.home__section7{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200vh;
    width: 100vw;
 /*    border: 1px solid black; */
 background-color: $wordpress;

}
.home__section5-borde{
 /*    border: 1px solid;
    position: absolute;
    width: 518.84px;
    height: 511.81px;
    left: 971px;
    top: 681.1px;
    
    transform: rotate(-36.98deg);
  

border-image-source: linear-gradient(180deg, #232425 0%, rgba(35, 36, 37, 0) 100%, rgba(14, 72, 97, 0.71) 100%); */

/* position: absolute;
width: 362.33px;
height: 677.42px;
left: 682.24px;
top: 102.69px;
border: 1px solid white;
transform: rotate(-80.49deg); */
/* Vector */

position: relative;






}
.home__section5-secund{
/* Vector */

position: absolute;

left: -5px;
top: 17px;


}
.home__section5-ter{
    /* Vector */

position: absolute;

left: 10px;
top: 20px;


}
.home__section5-cuar{
    /* Vector */

position: absolute;

left: 10px;
top: 30px;


}

.home__section5-quint{
    /* Vector */

position: absolute;

left: 10px;
top: 28px;


}
.home__section5-six{
    /* Vector */

position: absolute;

left: 10px;
top: 23px;


}
.home__section5-sev{
    /* Vector */

position: absolute;

left: 10px;
top: 20px;


}

.home__section5-eig{
    /* Vector */

position: absolute;

left: 24px;
top: 18px;


}
.home__section5-nine{
    /* Vector */
/* Vector */

position: absolute;

left: 15px;
top: 16px;





}
.home__section5-ten{
    /* Vector */

/* Vector */

position: absolute;

left: 16px;
top: 16px;




}
.home__section5-ele{
    /* Vector */

/* Vector */

/* Vector */

position: absolute;

left: 14px;
top: 14px;






}
.home__section5-order{
    margin: 0px;
    padding:0px;
}
.home__section5-right-one{
    /* Vector */
  /*   margin: 0px;
    padding:0px;
overflow-x: hidden; */
position: relative;


/* margin-left: 261px;
margin-right: 0px; */

transform: rotate(270deg);

}
.home__section5-content{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  /*   border: 1px solid black; */
   
    height: 40%;
   /*  border: 1px solid white; */
}
.home__section5-carga{
    display:inline-block;
}
.home__section5-load{
   
    /* background-color: $white; */
}
.home__section5-title{
    font-family: MetropolisRegular;
    font-weight: 200;
    font-size: 48px;
    line-height: 48px;
color: rgba(103, 153, 224, 1);

}
.home__section5-subtitle{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: MetropolisBold;
    font-size: 48px;
  text-align: justify;
color: $white;
font-weight: 800;
font-size: 60px;
line-height: 60px;
margin-bottom: 30px;
margin-top: 50px;
}
.home__section5-parrafo{
    font-family: Poppins;
    font-style: normal;
   
/* font-weight: 600; */
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.008em;

color: #6799E0;
}
.home__section5-button{
    margin-top: 30px;
    padding: 7px 25px;
    border:none;
    border-radius: 0.375rem;
 
    font-family: Poppins;
    font-size: 16px;
    background-color: #02BC6B;
    color: $white;
}
.home__section7-division{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
}
.home__section7-sub{
    margin-bottom: 15px;
}
.home__section7-divisionCircle{
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* border:1px solid black; */
    width: 80vw;
    
}
.home__section7-circle{
    border-radius: 50%;
    font-size: 1.1rem;
    justify-content: center;
    transition: 0.3s;
width:400px;
height:400px;
background-color: white;

}
.home__section7-subcircleDiv{
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
   /*  border:1px solid white; */
    margin-top: 100px;
}
.home__circle-two{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.home__section7-subcircle1{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.1rem;
    justify-content: center;
    transition: 0.3s;
width:150px;
height:150px;
background-color: white;

}
.home__section7-subcirclePrincipal{
   /*  border:1px solid white; */
    align-items: center;
    display: flex;
    justify-content: center;
}
.home__section7-subcircle{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.1rem;
    justify-content: center;
    transition: 0.3s;
width:150px;
height:150px;
background-color: white;
}
.home__footer{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 309px;
    width: 100vw;
    /* border: 1px solid black; */
    background-color: $footer;
    color: $footerFont;
}

.home__footer-copyright{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $footer;
    color: $footerFont;
    font-family: Inter;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0.5px solid $footerFont
    
}

.home__social-main{
    align-items: center;
    display: flex;
    justify-content: center;
   /*  border: 1px solid $footerFont; */
    width: 100vw;
    height: 10%;
    padding-top: 5px;
    padding-bottom: 10px;

}
.home__social-terms{
    align-items: center;
    display: flex;
    justify-content: center;
 /*    border: 1px solid $footerFont; */
    width: 100vw;
    height: 80%;

}
.home__social-title{
    align-items: center;
    display: flex;
    justify-content: center;
 /*    border: 1px solid $footerFont; */
    width: 100vw;
    height: 10%;
    padding-top: 30px;
    padding-bottom: 10px;

}

.home__social{
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footerFont;
    
    text-decoration: none;
    margin: 0 0.45rem;
    margin-left: 20px;
    color: white;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
width:20px;
height:20px;
padding: 4px;

&:hover{
    background-color: $white;
}

}

.home__facebook, .home__twitter, .home__linkedin, .home__instagram{
    
    color: $footer;
}
.home__logo{
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
    margin: 0 0.45rem;
    color: white;
    font-size: 2rem;
    transition: 0.3s;


  

}
.home__marca{
    font-family: Inter;
    font-size: 17px;
    font-weight: bold;
    color: $white;
}

.home__list{
    width: 33.3%;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.home__item{
 list-style: none;
 font-family: Inter;
 font-size: 16px;
}

.home__item-principal{
    font-weight: bold;
    color: $white;
}


.home__item-margin{
    margin-top: 11px;
    cursor: pointer;

}

.home__hover{
    transition:  color 0.3s ease;
    &:hover{
        color:$white;
    }
}

.home__link{
  color:$apple;
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}